.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customer-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
}

.customers-list {
  @extend %align;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.customers-list-item {
  width: 170px;
  height: 90px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.customers-list-link {
  @extend %align;
  @extend %margin;
  width: 100%;
  height: 100%;
  border: 1px solid var(--link-color);
  border-radius: 4px;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);

    .customer-list-icon {
      fill: var(--accent-color);
    }
  }
}

.customer-list-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-1 {
  fill: var(--link-color);
  width: 44px;
  height: 49px;
}

.logo-2 {
  fill: var(--link-color);
  width: 40px;
  height: 52px;
}

.logo-3 {
  fill: var(--link-color);
  width: 41px;
  height: 43px;
}

.logo-4 {
  fill: var(--link-color);
  width: 80px;
  height: 42px;
}

.logo-5 {
  fill: var(--link-color);
  width: 59px;
  height: 47px;
}

.logo-6 {
  fill: var(--link-color);
  width: 88px;
  height: 45px;
}
