body {
  font-family: var(--text-font);
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

img {
  display: block;
}

.address,
.footer-address-list {
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
